@{
    ViewBag.Title = "Giới Thiệu";
}

<h2 class="" contenteditable="false">Giới Thiệu</h2>
<h3 class="">Phần Mềm Quản Lý Sinh Viên.</h3>
<p class=""><span style="line-height: 19.2000007629395px; text-align: justify; font-family: sans-serif; font-size: 10pt; color: rgb(172, 217, 63);">PHẦN MỀM QUẢN LÝ SINH VIÊN</span><font face="sans-serif" size="2" style="color: rgb(103, 103, 103); line-height: 19.2000007629395px; text-align: justify;">&nbsp; là một phân hệ trong phần mềm quản lý hệ thống (CMS), là công cụ ứng dụng CNTT vào công tác quản lý học sinh, sinh viên... Phần mềm được xây dựng với những công nghệ mới nhất của Microsoft dựa trên tiêu chí đơn giản, thân thiện nên người dùng không cần biết nhiều về máy vi tính và kế toán vẫn nhanh chóng sử dụng thành thạo phần mềm.&nbsp;</font><font face="sans-serif" size="2" style="color: rgb(103, 103, 103); line-height: 19.2000007629395px; text-align: justify;">Sản phẩm đã đạt Giải Thưởng Sao Khuê 2011 của Hiệp Hội Phần Mềm Việt Nam (VINASA) và Bộ Thông Tin Truyền Thông kết hợp tổ chức</font>.</p>

